<header th:fragment="header">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark am-navbar" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/discussify.png" style="height: 30px" class="d-inline-block align-text-top px-2">
                Discussify
            </a>
            <form class="d-flex" role="search" action="/search" method="post">
                <input class="form-control me-2" type="search" placeholder="Search posts" aria-label="Search" name="searchTerm"/>
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>